@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.bp3-card{
    text-align: center;
    color: white;
    padding: 30px !important;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(2,81,105);
    box-shadow: 0px 0px 6px 3px rgba(182, 182, 182, 0.75) !important;
    background: linear-gradient(180deg, rgba(2,81,105,0.9024203431372549) 0%, rgba(16,104,104,0.840795693277311) 35%, rgba(57,144,177,0.7819721638655462) 80%);
}
.title{
    text-align: initial;
    font-weight: bold;
    margin-top: 0 !important;
}
.weather-card{
    text-align: -webkit-center;
}
.iconDiv{
    text-align: -webkit-center;
    margin-bottom: 1rem;
}
.weather-icon{
    width: 8rem;
    height: auto;

}
ul .weatherInfo{
    padding-inline-start: 5px !important;
}
.weatherInfo li {
    text-align: center;
}
.seven-day-row{
    width: inherit !important;
}
.celsius{
    text-align: justify;
    font-size: 4rem;  
    font-family: 'Oswald', sans-serif;
    font-weight: bold;  
}
.heading{
    text-align: initial;
    font-weight: bold;
    font-size: 1.6rem;
}
.subhead{
    text-align: initial;
    font-weight: bold;
    font-size: 1.3rem;
}
.day-info{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-right: 3rem;
    border-right: solid 1px #00000017;
}
.day-info:last-child{
    border-right: none !important;
}
.day-info img{
    width: 5rem;
}
.max-temp{
    margin-top: 1rem;
    font-size: 2rem;
}