@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.bp3-card{
    text-align: center;
    width: fit-content;
    color: white;
    background-color: #4179add0 !important;
    padding: 30px !important;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}
.weather-card{
    text-align: -webkit-center;
}
.weather-icon{
    width: 100px;
    height: auto;
}
ul .weatherInfo{
    padding-inline-start: 10px !important;
}
.seven-day-row{
    width: fit-content !important;
}
#background{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}